<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gift idea</title>
    
    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    
    <!-- Custom config (optional) -->
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: '#3b82f6',
                        secondary: '#64748b',
                    }
                }
            }
        }
    </script>
</head>
<body class="flex items-center justify-center min-h-screen">
    <div class="max-w-2xl m-auto space-y-4 mt-10">
        <section>
            <h1 class="text-2xl font-mono font-semibold">Needed gift idea ?</h1>
            <p class="text-sm text-zinc-500">Input detail of event and your budget ...</p>
        </section>
        <form method="post" action="/gift-idea/result">
            <input class="border rounded-md border-grey-200 p-4 w-auto h-8" type ="text" name="gift_idea" placeholder="Enter your event" />
             <p class="text-sm text-zinc-500 mb-4 italic">contoh: ulang tahun istri, ulang tahun anak laki-laki usia 10 tahun </i></p>
            <input class="border rounded-md border-grey-200 p-4 w-auto h-8" type ="text" name="budget" placeholder="Budget in IDR" />
            <p class="text-sm text-zinc-500 mb-4 italic">contoh: 50000, 100000, 1000000</p>
            <button type="submit" class="px-4 py-1  bg-cyan-400 rounded-lg hover:bg-cyan-500">Enter</button>
        </form>
        
</div>
</body>
</html>